<div id="navbar">
  <mat-toolbar class="toolbar" id="toolbar">
    <div class="#navbar-left">
      <a routerLink="/" id="logo-route-link">
        <img src="assets/svgs/Logo.svg" alt="" id="logo" />
      </a>
    </div>
    <div class="spacer"></div>
    <div id="menuItems" class="#navbar-center">
      <a
        href="#"
        routerLink="/presentation"
        routerLinkActive="active-link"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span>Présentation</span>
      </a>
      <a href="#" routerLink="/item3" routerLinkActive="active-link">
        <span>Actualités</span>
      </a>
      <a href="#" routerLink="/item4" routerLinkActive="active-link">
        <span>Articles</span>
      </a>
      <a href="#" routerLink="/item4" routerLinkActive="active-link">
        <span>Ajouter article</span>
      </a>
      <a href="#" routerLink="/contact-us" routerLinkActive="active-link">
        <span>Contactez-nous</span>
      </a>
    </div>
    <div class="spacer"></div>
    <div id="navbar-right">
      <div *ngIf="!isAuthentified">
        <a
          routerLink="/login"
          routerLinkActive="active-link"
          (click)="this.userAuthService.logout()"
        >
          <span>Se connecter</span>
        </a>
        <a routerLink="/sign-up" routerLinkActive="active-link" id="sing_up">
          <span>S'inscrire</span>
        </a>
      </div>
      <app-appbar-avatar *ngIf="isAuthentified"></app-appbar-avatar>
    </div>
  </mat-toolbar>
</div>
