#toolbar {
  overflow: hidden;
  background-color: #f2ede5;
  padding: 90px 10px;
  transition: 0.3s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#toolbar a {
  border-width: 3px;
  color: #01766e;
  text-decoration: none;
  padding: 8px;
  text-align: center;
  margin: 0px 4px;
  font-weight: 400;
  font-size: smaller;
}

#toolbar a:hover {
  color: #14b53a;
  border-bottom: 2px solid #14b53a;
  transition: border-bottom ease-in-out 0.1s;
  text-decoration: none;
  font-weight: 500;
  font-size: smaller;
}

@media screen and (max-width: 1080px) {
  #toolbar a {
    color: #01766e;
    text-decoration: none;
    margin: 0px 4px;
    padding: 4px;
    text-align: center;
    content: "";
    display: inline;
    transition: 0.3;
    font-size: smaller;
  }
}

@media screen and (max-width: 580px) {
  #toolbar {
    padding: 20px 10px !important;
  }
}

#toolbar #logo {
  padding: 8px;
  padding-left: 30px;
  transition: 0.3s;
}
#toolbar #logo:hover {
  padding: 8px;
  padding-left: 30px;
  transition: 0.4s;
}

a.active-link {
  transition: 0.3s;
  color: #013b45 !important;
  border-bottom: 3px solid #013b45;
  & #sing_up {
    color: white !important;
    background-color: red;
  }
  & span {
    transition: 0.3s;
    font-weight: 700;
  }

  & span:hover {
    transition: 0.3s;
    font-weight: 700;
    color: #14b53a;
  }
}

#toolbar #navbar-right {
  float: right;
}
.spacer {
  flex: 1;
}
#sing_up {
  color: white !important;
  background-color: black;
  text-align: center;
  border-radius: 8px;
}

#navbar {
  padding: 90px 0px;
  transition: 0.3s;
}

#logo-route-link:hover {
  border-bottom: transparent !important ;
}

/* Hide the link that should open and close the topnav on small screens */
#toolbar #menuItems .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  /* Hide  all a in menu-items */
  #toolbar #menuItems a {
    display: none;
  }
  #toolbar #menuItems a.icon {
    float: right;
    display: block;
  }
}
