<mat-toolbar class="toolbar" id="toolbar">
  <div class="#navbar-left">
    <a href="#">
      <img src="assets/svgs/Logo.svg" alt="" id="logo" />
    </a>
  </div>
  <div class="spacer"></div>
  <div id="menuItems" class="#navbar-center">
    <a href="#"> Reportage </a>
    <a href="#"> item #2 </a>
    <a href="#"> item #3 </a>
    <a href="#"> Realisations </a>
    <a href="#"> Conference </a>
    <a href="#"> A propos </a>
  </div>
  <div class="spacer"></div>
  <div id="navbar-right">
    <a href="#"> Se connecter </a> <a href="#" id="sing_up"> S'inscrire </a>
  </div>
</mat-toolbar>

