.full-screen-modal {
  max-width: unset !important;
  width: 100%;
  height: 100%;
}

.full-screen-modal .mat-dialog-container {
  max-width: 100vw;
  max-height: 100vh;
  height: 100%;
  width: 100%;
}

.full-screen-modal .mat-dialog-content {
  max-height: unset !important;
}
.mat-dialog-title {
  background-color: #013b45;
}
.clear-icon {
  transform: scale(2);
  color: #011a1f;;
}
.btn-close-modal {
  cursor: pointer;
}
.btn-close-modal :hover {
  &.clear-icon {
    transform: scale(2.1);
    color: #094753;
  }
}

.image {
  width: 100%;
  height: 60vh;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description {
  width: 100%;
  height: 60vh;
  padding: 0px 16px;
}

#Rencontre {
  background-color: #ee7525 !important;
  color: white !important;
}
#Article {
  background-color: rgb(106, 57, 241) !important;
}
#Conference {
  background-color: rgb(70, 128, 47) !important;
}
.Publié {
  background-color: #fcd116 !important;
}
.Non.Publié {
  background-color: #fcd116 !important;
}
