.section-heading {
  position: relative;
  z-index: 2;
}

.section-heading h6 {
  font-size: 15px;
  font-weight: 700;
  color: #01766e;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.section-heading h4 {
  color: #2a2a2a;
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 25px;
  line-height: 48px;
}

.section-heading h4 em {
  font-style: normal;
  color: #01766e;
}

.section-heading .line-dec {
  width: 50px;
  height: 2px;
  background-color: #01766e;
}

.main {
  width: 100%;
  max-height: 456px;
  object-fit: cover;
}

.item {
  max-width: 230px !important;
  max-height: 230px !important;
  object-fit: contain;
}

.post-item{
  margin-top: 30px;
}

a {
  text-decoration: none;
}

.border-first-button a {
  display: inline-block !important;
  padding: 10px 20px !important;
  color: #01766e !important;
  border: 1px solid #01766e !important;
  border-radius: 23px;
  font-weight: 500 !important;
  letter-spacing: 0.3px !important;
  transition: all 0.5s;
}

.border-first-button a:hover {
  background-color: #01766e;
  color: #fff !important;
}
/* 
---------------------------------------------
Blog
--------------------------------------------- 
*/

.blog:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 961px;
  height: 1020px;
  z-index: 0;
}

.blog {
  position: relative;
  padding-top: 130px;
}

.blog .section-heading {
  text-align: center;
  margin-bottom: 80px;
  margin-top: -60px;
}

.blog .section-heading .line-dec {
  margin: 0 auto;
}

.show-up {
  position: relative;
  /* z-index: 200; */
  margin-bottom: 40px;
}

.blog-post {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.blog-post .thumb img {
  border-top-right-radius: 23px;
  border-top-left-radius: 23px;
}

.blog-post .down-content {
  border-bottom-right-radius: 23px;
  border-bottom-left-radius: 23px;
  background-color: #fff;
  padding: 30px;
}

.blog-post .down-content span.category {
  font-size: 15px;
  color: #fff;
  padding: 8px 12px;
  background-color: #01766e;
  border-radius: 18px;
  display: inline-block;
}

.blog-post .down-content span.date {
  font-size: 15px;
  color: #afafaf;
  text-align: right;
  float: right;
  margin-top: 4px;
}

.blog-post .down-content h4 {
  font-size: 20px;
  font-weight: 700;
  color: #2a2a2a;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 30px;
}

.blog-post .down-content p {
  margin-bottom: 30px;
}

.blog-post .down-content span.author {
  font-size: 15px;
  color: #2a2a2a;
}

.blog-post .down-content span.author img {
  max-width: 56px;
  border-radius: 50%;
  margin-right: 15px;
}

.blog-post .down-content .border-first-button {
  display: inline-block;
  float: right;
}

.blog-posts {
  margin-left: 30px;
}

.post-item {
  margin-bottom: 70px;
}

.last-post-item {
  margin-bottom: 0px;
}

.post-item .thumb {
  display: inline-block;
  float: left;
  margin-right: 30px;
}

.post-item .thumb img {
  border-radius: 23px;
  display: inline-block;
}

.post-item .right-content {
  padding-top: 20px;
}

.post-item .right-content span.category {
  font-size: 15px;
  color: #fff;
  padding: 8px 12px;
  background-color: #01766e;
  border-radius: 18px;
  display: inline-block;
}

.post-item .right-content span.date {
  font-size: 15px;
  color: #afafaf;
  text-align: right;
  float: right;
  margin-top: 4px;
}

.post-item .right-content h4 {
  font-size: 20px;
  font-weight: 700;
  color: #2a2a2a;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 30px;
}

/* 
---------------------------------------------
responsive
--------------------------------------------- 
*/

@media (max-width: 850px) {
  .blog-posts {
    margin-left: 0px;
    margin-top: 30px;
  }

  .custom {
    margin-top: 40px;
  }

  .post-item {
    margin-bottom: 70px;
  }
}

@media (max-width: 767px) {
  .blog-posts {
    margin-left: 0px;
    /* margin-top: 30px; */
  }

  .post-item {
    margin-bottom: 30px;
  }

  .post-item .thumb img {
    max-width: 140px;
  }

  .post-item .right-content p {
    display: none;
  }
}
