<mat-drawer-container class="example-container" autosize style="height: 100vh">
  <mat-drawer
    [opened]="true"
    #isOpen
    #drawer
    class="example-sidenav"
    mode="side"
    position="start"
    style="position: fixed; background-color: whitesmoke"
  >
    @if (showFiller) {
    <ul>
      <li><i class="bi bi-user"></i> ARTICLES EVENEMENTS lkks</li>
      <li><i class="bi bi-user"></i> ARTICLES EVENEMENTS</li>
      <li><i class="bi bi-user"></i> ARTICLES EVENEMENTS</li>
      <li><i class="bi bi-user"></i> ARTICLES EVENEMENTS</li>
      <li><i class="bi bi-user"></i> ARTICLES EVENEMENTS</li>
      <li><i class="bi bi-user"></i> ARTICLES EVENEMENTS</li>
      <li><i class="bi bi-user"></i> ARTICLES EVENEMENTS</li>
      <li><i class="bi bi-user"></i> ARTICLES EVENEMENTS</li>
    </ul>
    <p>Lorem,</p>
    }

    <button (click)="showFiller = !showFiller" mat-raised-button>
      Big/Min
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div
      class="contenaire w-100"
      style="
        position: fixed;
        top: 0;
        background-color: whitesmoke;
        height: 70px;
        margin-bottom: 70px;
      "
    ></div>
    <button
      type="button"
      mat-button
      (click)="drawer.toggle()"
      style="margin-top: 70px"
    >
      Open/Close
    </button>

    <button class="btn btn-primay" (click)="getEditorContent()">get</button>
    <h1>TinyMCE 6 Angular Demo</h1>
    <editor
      apiKey="05kar5f1edhaueeyba84fwwq71d09mt0ub1ys89bxwr7bj5p"
      [(ngModel)]="content"
      [init]="{ plugins: 'lists link image table code help wordcount' }"
    ></editor>

    <button class="btn btn-primay" (click)="getEditorContent()">get</button>
    <h1>TinyMCE 6 Angular Demo</h1>
    <editor
      apiKey="05kar5f1edhaueeyba84fwwq71d09mt0ub1ys89bxwr7bj5p"
      [(ngModel)]="content"
      [init]="{ plugins: 'lists link image table code help wordcount' }"
    ></editor>

    <button class="btn btn-primay" (click)="getEditorContent()">get</button>
    <h1>TinyMCE 6 Angular Demo</h1>
    <editor
      apiKey="05kar5f1edhaueeyba84fwwq71d09mt0ub1ys89bxwr7bj5p"
      [(ngModel)]="content"
      [init]="{ plugins: 'lists link image table code help wordcount' }"
    ></editor>

    <button class="btn btn-primay" (click)="getEditorContent()">get</button>
    <h1>TinyMCE 6 Angular Demo</h1>
    <editor
      apiKey="05kar5f1edhaueeyba84fwwq71d09mt0ub1ys89bxwr7bj5p"
      [(ngModel)]="content"
      [init]="{ plugins: 'lists link image table code help wordcount' }"
    ></editor>

    <button class="btn btn-primay" (click)="getEditorContent()">get</button>
    <h1>TinyMCE 6 Angular Demo</h1>
    <editor
      apiKey="05kar5f1edhaueeyba84fwwq71d09mt0ub1ys89bxwr7bj5p"
      [(ngModel)]="content"
      [init]="{ plugins: 'lists link image table code help wordcount' }"
    ></editor>

    <button class="btn btn-primay" (click)="getEditorContent()">get</button>
  </div>
</mat-drawer-container>
