<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div
        class="col-lg-6 mb-5 mb-lg-0"
        style="z-index: 10; align-self: self-start"
      >
        <h1
          class="my-5 display-5 fw-bold ls-tight"
          style="font-size: 300%; color: hsl(218, 81%, 95%)"
        >
          Demande d'inscription <br />
        </h1>
        <h1
          class="my-5 display-5 fw-bold ls-tight"
          style="color: hsl(218, 81%, 95%)"
        >
          REFUEMA<br />
          <span style="color: hsl(218, 81%, 75%)"
            >Réseau des Femmes Universitaires et Enseignantes du Mali</span
          >
        </h1>
        <p class="mb-4 opacity-90" style="color: hsl(218, 81%, 85%)">
          S'il vous plait rensaigner correctement vos informations pour vous
          connecter a votre compte
        </p>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div
          id="radius-shape-1"
          class="position-absolute rounded-circle shadow-5-strong"
        ></div>
        <div
          id="radius-shape-2"
          class="position-absolute shadow-5-strong"
        ></div>
        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form
              [formGroup]="signForm"
              (ngSubmit)="onSubmit($event)"
              novalidate
            >
              <div class="row">
                <div class="col-md-6 mb-2">
                  <div class="form-outline">
                    <div class="error_message">
                      <div
                        *ngIf="
                          formControls['lastName'].invalid &&
                          (formControls['lastName'].dirty ||
                            formControls['lastName'].touched)
                        "
                      >
                        <span
                          class="error_message_content"
                          *ngIf="
                            formControls['lastName'].errors?.['required']       
                          "
                          >*Veuillez saisir votre nom!</span
                        >
                        <span
                          class="error_message_content"
                          style="font-size: 13px"
                          *ngIf="
                          formControls['lastName'].errors?.['minlength']       
                        "
                          >Au minimum 3 caractères
                        </span>
                      </div>
                    </div>
                    <input
                      [ngClass]="{
                        isInvalid:
                          signForm.get('lastName')?.invalid &&
                          signForm.get('lastName')?.touched
                      }"
                      type="text"
                      id="form3Example1"
                      class="form-control"
                      formControlName="lastName"
                    />
                    <label class="form-label" for="form3Example1">Nom</label>
                  </div>
                </div>
                <div class="col-md-6 mb-2">
                  <div class="form-outline">
                    <div class="error_message">
                      <div
                        *ngIf="
                          formControls['firstName'].invalid &&
                          (formControls['firstName'].dirty ||
                            formControls['firstName'].touched)
                        "
                      >
                        <span
                          class="error_message_content"
                          *ngIf="formControls['firstName'].errors?.['required']"
                          >*Veuillez saisir votre prenom!</span
                        >
                        <span
                          class="error_message_content"
                          style="font-size: 13px"
                          *ngIf="
                        formControls['firstName'].errors?.['minlength']       
                      "
                          >Au minimum 3 caractères
                        </span>
                      </div>
                    </div>
                    <input
                      [ngClass]="{
                        isInvalid:
                          signForm.get('firstName')?.invalid &&
                          signForm.get('firstName')?.touched
                      }"
                      type="text"
                      id="form3Example2"
                      class="form-control"
                      formControlName="firstName"
                    />
                    <label class="form-label" for="form3Example2">Prenom</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 mb-2">
                  <!-- Titre input -->
                  <div class="form-outline mb-1">
                    <!--  Titre input error section-->
                    <div class="error_message">
                      <div
                        *ngIf="
                          formControls['titre'].invalid &&
                          (formControls['titre'].dirty ||
                            formControls['titre'].touched)
                        "
                      >
                        >
                      </div>
                    </div>

                    <select
                      class="form-select"
                      aria-label="Default select example"
                      type="select"
                      id="titre_form"
                      formControlName="titre"
                      [ngClass]="{
                        isInvalid:
                          formControls['titre'].invalid &&
                          formControls['titre'].touched
                      }"
                    >
                      <option *ngFor="let item of titres" [value]="item.id">
                        <span> {{ item.titre }}</span>
                      </option>
                    </select>

                    <label class="form-label" for="titre_form">Titre</label>
                  </div>
                </div>
                <div class="col-md-8 mb-2">
                  <!-- Specialite input -->
                  <div class="form-outline mb-1">
                    <!--  Specialite input error section-->
                    <div class="error_message">
                      <div
                        *ngIf="
                          formControls['specialite'].invalid &&
                          (formControls['specialite'].dirty ||
                            formControls['specialite'].touched)
                        "
                      >
                        <span
                          class="error_message_content"
                          *ngIf="
                      formControls['specialite'].errors?.['required'] 
                      "
                          >*Veuillez entrer votre specialité.</span
                        >
                        <span
                          class="error_message_content"
                          *ngIf="
                    formControls['specialite'].errors?.['maxlength'] ||
                    formControls['specialite'].errors?.['minlength']
                    "
                          >30 Caratèresau maxmium!</span
                        >
                      </div>
                    </div>

                    <input
                      [ngClass]="{
                        isInvalid:
                          signForm.get('specialite')?.invalid &&
                          signForm.get('specialite')?.touched
                      }"
                      type="select"
                      id="specialite_form"
                      class="form-control"
                      formControlName="specialite"
                    />
                    <label class="form-label" for="specialite_form"
                      >Specialite</label
                    >
                  </div>
                </div>
              </div>

              <!-- Phone input -->
              <div class="form-outline mb-1">
                <!--  Phone input error section-->
                <div class="error_message">
                  <div
                    *ngIf="
                      formControls['phone'].invalid &&
                      (formControls['phone'].dirty ||
                        formControls['phone'].touched)
                    "
                  >
                    <span
                      class="error_message_content"
                      *ngIf="
                      formControls['phone'].errors?.['required'] 
                      "
                      >*Veuillez saisir votre numero de telephone !</span
                    >
                    <span
                      class="error_message_content"
                      *ngIf="
                    formControls['phone'].errors?.['maxlength'] ||
                    formControls['phone'].errors?.['minlength']
                    "
                      >8 chiffres au maxmium!</span
                    >
                  </div>
                </div>

                <input
                  [ngClass]="{
                    isInvalid:
                      signForm.get('phone')?.invalid &&
                      signForm.get('phone')?.touched
                  }"
                  type="tel"
                  id="form3Example3"
                  class="form-control"
                  formControlName="phone"
                />
                <label class="form-label" for="form3Example3">Telephone</label>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-1">
                <!--  Email input error section-->
                <div class="error_message">
                  <div
                    *ngIf="
                      formControls['mail'].invalid &&
                      (formControls['mail'].dirty ||
                        formControls['mail'].touched)
                    "
                  >
                    <span
                      class="error_message_content"
                      *ngIf="
                       formControls['mail'].errors?.['required']
                      "
                      >*Veuillez saisir votre email !</span
                    >
                    <span
                      class="error_message_content"
                      *ngIf="
                      formControls['mail'].errors?.['email']
                    "
                      >Verifier le format de votre email!</span
                    >
                  </div>
                </div>

                <input
                  [ngClass]="{
                    isInvalid:
                      signForm.get('mail')?.invalid &&
                      signForm.get('mail')?.touched
                  }"
                  type="email"
                  id="form_email"
                  class="form-control"
                  formControlName="mail"
                />
                <label class="form-label" for="form_email">Email</label>
              </div>

              <!-- Password Form -->
              <div
                formGroupName="pwrdForm"
                (ngSubmit)="onSubmit($event)"
                novalidate
              >
                <!-- Password input -->
                <div class="form-outline mb-1">
                  <!--  Password input error section-->
                  <div class="error_message">
                    <div
                      *ngIf="
                        this.formControls['pwrdForm'].controls['password']
                          .invalid &&
                        (this.formControls['pwrdForm'].controls['password']
                          .dirty ||
                          this.formControls['pwrdForm'].controls['password']
                            .touched)
                      "
                    >
                      <span
                        class="error_message_content"
                        *ngIf="
                          formControls['pwrdForm'].controls['password'].touched
                        "
                        >*Veuillez saisir votre mot de passe!</span
                      >
                    </div>
                  </div>
                  <input
                    [ngClass]="{
                      isInvalid:
                        formControls['pwrdForm'].controls['password'].touched &&
                        formControls['pwrdForm'].controls['password'].invalid
                    }"
                    type="password"
                    id="form_password"
                    class="form-control"
                    formControlName="password"
                  />
                  <label class="form-label" for="form_password"
                    >Mot de passe</label
                  >
                </div>
                <!--Confirm Password input -->
                <div class="form-outline mb-1">
                  <!--  Password input error section-->
                  <div class="error_message">
                    <div
                      *ngIf="
                        formControls['pwrdForm'].controls['password'].valid &&
                        !formControls['pwrdForm'].controls['confirmPassword'].errors?.['required']
                        &&
                        (this.formControls['pwrdForm'].controls[
                          'confirmPassword'
                        ].dirty ||
                          this.formControls['pwrdForm'].controls[
                            'confirmPassword'
                          ].touched)
                      "
                    >
                      >
                      <span
                        class="error_message_content"
                        *ngIf="formControls['pwrdForm'].errors?.['passwordmatcherror']
                    "
                        >Les mots de passe doivent être les mêmes
                      </span>
                    </div>

                    <div
                      *ngIf="
                        formControls['pwrdForm'].controls['password'].valid &&
                        formControls['pwrdForm'].controls['confirmPassword']
                          .invalid &&
                        (this.formControls['pwrdForm'].controls[
                          'confirmPassword'
                        ].dirty ||
                          this.formControls['pwrdForm'].controls[
                            'confirmPassword'
                          ].touched)
                      "
                    >
                      <span
                        class="error_message_content"
                        *ngIf="
                          formControls['pwrdForm'].controls['confirmPassword'].errors?.['required']
                        "
                        >*Veuillez saisir votre mot de passe!</span
                      >
                    </div>
                  </div>
                  <input
                    [ngClass]="{
                      isInvalid:
                        this.formControls['pwrdForm'].controls[
                          'confirmPassword'
                        ].touched &&
                        this.formControls['pwrdForm'].controls[
                          'confirmPassword'
                        ].invalid &&
                        this.formControls['pwrdForm'].controls['password'].valid
                    }"
                    type="password"
                    id="form_confirm_password"
                    class="form-control"
                    formControlName="confirmPassword"
                  />
                  <label class="form-label" for="form_confirm_password"
                    >Mot de passe</label
                  >
                </div>
              </div>

              <div class="form-outline mb-1">
                <select
                  class="form-select"
                  aria-label="Default select example"
                  type="select"
                  id="fileType_form"
                  formControlName="fileType"
                  [ngClass]="{
                    isInvalid:
                      signForm.get('fileType')?.invalid &&
                      signForm.get('fileType')?.touched
                  }"
                  [(ngModel)]="selectedTypeDocuments"
                >
                  <option *ngFor="let item of type_documents" [value]="item.id">
                    <span> {{ item.titre }}</span>
                  </option>
                </select>
                <label class="form-label" for="form_userFile"
                  >Type de document
                </label>
              </div>

              <!-- Document input -->
              <div class="form-outline mb-1">
                <!--  Document input error section-->
                <div class="error_message">
                  <div
                    *ngIf="
                      formControls['userFile'].invalid &&
                      (formControls['userFile'].dirty ||
                        formControls['userFile'].touched)
                    "
                  >
                    <span
                      class="error_message_content"
                      *ngIf="
                        signForm.get('userFile')?.touched &&
                        signForm.get('userFile')?.invalid
                      "
                      >Veuillez selectioner votre document!</span
                    >
                  </div>
                </div>

                <input
                  [ngClass]="{
                    isInvalid:
                      formControls['userFile'].invalid &&
                      formControls['userFile'].touched
                  }"
                  type="file"
                  id="form_userFile"
                  class="form-control"
                  formControlName="userFile"
                  multiple
                  (change)="setFiles($event)"
                  style="visibility: hidden; display: none"
                />

                <label
                  class="form-control d-flex"
                  for="form_userFile"
                  [ngClass]="{
                    isInvalid:
                      formControls['userFile'].invalid &&
                      (formControls['userFile'].dirty ||
                        formControls['userFile'].touched)
                  }"
                  style="cursor: pointer"
                >
                  <div *ngIf="!files">
                    <mat-icon style="transform: scale(0.7)"
                      >attach_file</mat-icon
                    >
                    <span *ngIf="!signForm.get('userFile')?.value">
                      Selectionner votre document</span
                    >
                  </div>
                  <div *ngIf="files">
                    <mat-icon style="transform: scale(0.7)"
                      >attach_file</mat-icon
                    >
                    <span *ngIf="files.length == 1">
                      {{ files[0].name }} file
                    </span>
                    <span *ngIf="files.length > 1">
                      {{ files.length }} files
                    </span>
                  </div>
                </label>

                <label class="form-label">Document</label>
              </div>

              <!-- Checkbox -->
              <!-- <div class="form-check d-flex justify-content-center mb-4">
                <input
                  class="form-check-input me-2"
                  type="checkbox"
                  value=""
                  id="form2Example33"
                  unchecked
                />
                <label class="form-check-label" for="form2Example33">
                  Se souvenez de moi ?
                </label>
              </div> -->

              <!-- Submit button -->
              <button
                type="submit"
                id="btn-submit"
                class="btn btn-primary btn-block mb-4"
                [disabled]="formControls.valid"
              >
                S'inscrire
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
