<div class="page-hearder">
  <div class="section-title">Modifier une publication</div>
</div>

<form
  action=""
  [formGroup]="updatePublicationForm"
  (ngSubmit)="updatePublication()"
  style="padding: 60px 30px; margin: 0px 60px"
>
  <!-- Type de publication input select -->
  <div class="form-outline mb-6">
    <label class="form-label" for="titre_form" style="font-size: 1.2rem"
      >Type</label
    >
    <select
      class="form-select"
      aria-label="Default select example"
      type="select"
      id="type_form"
      formControlName="type"
      [ngClass]="{
        isInvalid:
          updatePublicationForm.controls['type'].invalid &&
          updatePublicationForm.controls['type'].touched
      }"
    >
      <option selected *ngIf="types.length === 0">
        <span> N/A</span>
      </option>
      <option *ngFor="let item of types" [value]="item.id">
        <span> {{ item.titre }}</span>
      </option>
    </select>
  </div>

  <!-- Portee de publication input select -->
  <div class="form-outline mb-6">
    <label class="form-label" for="titre_form" style="font-size: 1.2rem"
      >Portée</label
    >
    <select
      class="form-select"
      aria-label="Default select example"
      type="select"
      id="type_form"
      formControlName="portee"
      [ngClass]="{
        isInvalid:
          updatePublicationForm.controls['portee'].invalid &&
          updatePublicationForm.controls['portee'].touched
      }"
    >
      <option selected *ngIf="portees.length === 0">
        <span> N/A</span>
      </option>
      <option *ngFor="let item of portees" [value]="item.id">
        <span> {{ item.titre }}</span>
      </option>
    </select>
  </div>

  <div class="form-outline mb-6">
    <label class="form-label" for="form_password" style="font-size: 1.2rem"
      >Titre de votre publication</label
    >
    <input
      class="form-control"
      style="font-size: 1.2rem"
      formControlName="title"
      [ngClass]="{
        isInvalid:
          updatePublicationForm.get('title')?.invalid &&
          updatePublicationForm.get('title')?.touched
      }"
    />
    <div class="error_message">
      <div
        *ngIf="
          updatePublicationForm.controls['title'].invalid &&
          (updatePublicationForm.controls['title'].dirty ||
          updatePublicationForm.controls['title'].touched)
        "
      >
        <span
          class="error_message_content"
          *ngIf="updatePublicationForm.controls['title'].errors?.['required']"
          >Veuillez saisir le titre
        </span>
        <span
          class="error_message_content"
          *ngIf="updatePublicationForm.controls['title'].errors?.['minlength']"
          >*Veuillez saisir 4 charactères au minimun!</span
        >
      </div>
    </div>
  </div>

  <div class="form-outline mb-6">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <label
              class="form-label"
              for="form_password"
              style="font-size: 1.2rem"
              >Image de votre article</label
            >
          </mat-panel-title>
          <mat-panel-description>
            {{ image ? "Pas d image" : image }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex justify-content-center align-items-center">
          <label
            for="images"
            class="drop-container"
            id="dropcontainer"
            [ngStyle]="{
              'background-image': image ? 'url(' + image + ')' : 'none',
              'background-repeat': 'no-repeat',
              'background-size': '100% 100%'
            }"
          >
            <span *ngIf="image == null || image == undefined" class="drop-title"
              >Ajouter une image</span
            >
            <mat-icon>add</mat-icon>

            <input
              type="file"
              id="images"
              accept="image/*"
              [multiple]="true"
              style="display: none"
              formControlName="image"
              (change)="onFileSelected($event)"
            />
          </label>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="form-outline mb-6">
    <label class="form-label" for="form_password" style="font-size: 1.2rem"
      >Description de votre article</label
    >
    <div class="">
      <div class="error_message">
        <div
          *ngIf="
            updatePublicationForm.controls['description'].invalid &&
            (updatePublicationForm.controls['description'].dirty ||
              updatePublicationForm.controls['description'].touched)
          "
        >
          <span
            class="error_message_content"
            *ngIf="updatePublicationForm.controls['description'].errors?.['required']"
            >Veuillez selectionner la date de réalisation
          </span>
        </div>
      </div>
    </div>

    <editor
      [ngClass]="{
        isInvalid:
          updatePublicationForm.get('description')?.invalid &&
          updatePublicationForm.get('description')?.touched
      }"
      apiKey="05kar5f1edhaueeyba84fwwq71d09mt0ub1ys89bxwr7bj5p"
      [init]="editorConfig"
      formControlName="description"
    >
    </editor>

    <!-- <input
      formControlName="lastName"
      class="form-control"
      style="font-size: 1.2rem"
    /> -->
  </div>

  <button
    class="btn"
    id="btn-primary"
    style="width: 100%; padding-left: 8px"
    [disabled]="updatePublicationForm.invalid"
  >
    <!-- isLoading -->
    Modifier
  </button>
</form>
