<div class="page-hearder">
  <div class="section-title">Ajouter un article (SOON)</div>
</div>

<form
  action=""
  [formGroup]="addArticleForm"
  onsubmit="addArticle()"
  style="padding: 60px 30px"
>
  <div class="form-outline row mb-6">
    <div class="col-8 p-0" style="margin-right: 12px">
      <div class="form-outline mb-6">
        <label class="form-label" for="form_password" style="font-size: 1.2rem"
          >Titre de votre article</label
        >

        <input
          class="form-control"
          style="font-size: 1.2rem"
          formControlName="title"
          [ngClass]="{
            isInvalid:
              addArticleForm.get('title')?.invalid &&
              addArticleForm.get('title')?.touched
          }"
        />
        <div class="error_message">
          <div
            *ngIf="
              addArticleForm.controls['title'].invalid &&
              (addArticleForm.controls['title'].dirty ||
                addArticleForm.controls['title'].touched)
            "
          >
            <span
              class="error_message_content"
              *ngIf="addArticleForm.controls['title'].errors?.['required']"
              >Veuillez saisir le titre
            </span>
            <span
              class="error_message_content"
              *ngIf="addArticleForm.controls['title'].errors?.['minlength']"
              >*Veuillez saisir 4 charactères au minimun!</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col p-0">
      <div class="form-outline mb-6">
        <label class="form-label" for="form_password" style="font-size: 1.2rem"
          >Date de réalisation</label
        >

        <div class="input-group">
          <input
            [ngClass]="{
              isInvalid:
                addArticleForm.get('realisationDate')?.invalid &&
                addArticleForm.get('realisationDate')?.touched
            }"
            matInput
            [matDatepicker]="startDatePicker"
            placeholder="YYY/MM/DD"
            class="form-control custom-height-input"
            id="startDate"
            readonly
            style="font-size: 1.2rem"
            formControlName="realisationDate"
          />
          <span class="input-group-text custom-height-input">
            <mat-datepicker-toggle
              [for]="startDatePicker"
            ></mat-datepicker-toggle>
          </span>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </div>
        <div class="error_message">
          <div
            *ngIf="
              addArticleForm.controls['realisationDate'].invalid &&
              (addArticleForm.controls['realisationDate'].dirty ||
                addArticleForm.controls['realisationDate'].touched)
            "
          >
            <span
              class="error_message_content"
              *ngIf="addArticleForm.controls['realisationDate'].errors?.['required']"
              >Veuillez selectionner la date de réalisation
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-outline mb-6">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <label
              class="form-label"
              for="form_password"
              style="font-size: 1.2rem"
              >Image de votre article</label
            >
          </mat-panel-title>
          <mat-panel-description>
            {{ image ? "Pas d image" : image }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex justify-content-center align-items-center">
          <label
            for="images"
            class="drop-container"
            id="dropcontainer"
            [ngStyle]="{
             'background-image': image ? 'url(' + image + ')' : 'none',
              'background-repeat': 'no-repeat',
              'background-size': '100% 100%'
            }"
          >
            <span *ngIf="image == null || image == undefined" class="drop-title"
              >Ajouter une image</span
            >
            <mat-icon>add</mat-icon>

            <input
              type="file"
              id="images"
              accept="image/*"
              required
              style="display: none"
              formControlName="image"
              (change)="onFileSelected($event)"
            />
          </label>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="form-outline mb-6">
    <label class="form-label" for="form_password" style="font-size: 1.2rem"
      >Description de votre article</label
    >
    <div class="">
      <div class="error_message">
        <div
          *ngIf="
            addArticleForm.controls['description'].invalid &&
            (addArticleForm.controls['description'].dirty ||
              addArticleForm.controls['description'].touched)
          "
        >
          <span
            class="error_message_content"
            *ngIf="addArticleForm.controls['description'].errors?.['required']"
            >Veuillez selectionner la date de réalisation
          </span>
        </div>
      </div>
    </div>

    <editor
      [ngClass]="{
        isInvalid:
          addArticleForm.get('description')?.invalid &&
          addArticleForm.get('description')?.touched
      }"
      apiKey="05kar5f1edhaueeyba84fwwq71d09mt0ub1ys89bxwr7bj5p"
      [init]="editorConfig"
      formControlName="description"
    >
    </editor>

    <!-- <input
    formControlName="lastName"
    class="form-control"
    style="font-size: 1.2rem"
  /> -->
  </div>

  <button
    class="btn"
    id="btn-primary"
    style="width: 100%"
    mat-button
    (click)="addArticle()"
    [disabled]="addArticleForm.invalid"
  >
    <!-- isLoading -->
    Ajouter
  </button>
</form>
