<mat-drawer-container class="example-container" autosize style="height: 100vh">
  <mat-drawer
    [opened]="true"
    #drawer
    class="example-sidenav"
    mode="side"
    position="start"
    style="
      height: 100vh;
      position: fixed;
      background-color: whitesmoke;
      padding: 16px;
    "
  >
    <i
      (click)="showFiller = !showFiller"
      [class]="showFiller ? 'bi bi-caret-right' : 'bi bi-caret-left '"
      style="
        right: 0;
        margin-left: 18px;
        float: right;
        font-size: 16px;
        cursor: pointer;
        color: #01766e;
      "
    ></i>

    <!-- Side close items section -->
    <ng-container *ngIf="showFiller">
      <div class="container" id="close-nav-logo ">
        <!-- Accueil -->
        <a
          class="logo-close-nav-item"
          id="close-nav-item"
          routerLink="/admin/home"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="../../favicon.ico" alt="" width="45%" height="45%" />
        </a>
      </div>
      <div class="container p-4">
        <!-- Accueil -->
        <a
          class=""
          id="close-nav-item"
          routerLink="/admin/home"
          routerLinkActive="router-link-active"
          routerLinkActive="active-link"
          matTooltip="Accueil"
          matTooltipPosition="right"
        >
          <i class="bi bi-house" id="close-nav-item-icon"></i>
        </a>
        <!-- Publication -->
        <a
          id="open-nav-item"
          [routerLinkActiveOptions]="{ exact: false }"
          routerLinkActive="active-link"
          matTooltip="Publications"
          matTooltipPosition="right"
          [matMenuTriggerFor]="menu"
        >
          <i class="bi bi-journal" id="open-nav-item-icon"></i>
          <mat-menu #menu="matMenu" [xPosition]="'after'">
            <a
              mat-menu-item
              id="open-nav-item-child"
              routerLink="admin/publications/public"
              routerLinkActive="active-link"
              >Publics</a
            >
            <a
              mat-menu-item
              id="open-nav-item-child"
              routerLink="admin/publications/privee"
              routerLinkActive="active-link"
              >Privée
            </a>
            <a
              mat-menu-item
              id="open-nav-item-child"
              routerLink="admin/publications/not/accepted"
              routerLinkActive="active-link"
              >Non publiées
            </a>
          </mat-menu>
        </a>

        <!-- Pages -->
        <a
          class=""
          routerLink="admin/pages"
          id="close-nav-item"
          routerLinkActive="active-link"
          matTooltip="Pages"
          matTooltipPosition="right"
        >
          <i class="bi bi-file-earmark" id="close-nav-item-icon"></i>
        </a>
      </div>
    </ng-container>

    <!-- Side open items section -->
    <ng-container *ngIf="!showFiller">
      <div class="contenair" style="margin-bottom: 18px">
        <img src="../../assets/svgs/Logo.svg" alt="" />
      </div>
      <div class="container p-4">
        <!-- Acceuil -->
        <a
          id="open-nav-item"
          routerLink="admin/home"
          routerLinkActive="active-link"
        >
          <i class="bi bi-house" id="open-nav-item-icon"></i>
          <span id="open-nav-item-span"> Accueil </span>
        </a>
        <!-- Publication -->
        <a
          id="open-nav-item"
          [routerLinkActiveOptions]="{ exact: false }"
          routerLinkActive="active-link"
        >
          <i class="bi bi-journal" id="open-nav-item-icon"></i>
          <span id="open-nav-item-span" [matMenuTriggerFor]="menu"
            >Publications
            <i
              [class]="'bi bi-caret-right'"
              style="font-size: 14px; cursor: pointer; color: #01766e"
            ></i>
          </span>
          <mat-menu #menu="matMenu" [xPosition]="'after'">
            <a
              mat-menu-item
              id="open-nav-item-child"
              routerLink="admin/publications/public"
              routerLinkActive="active-link"
              >Publics</a
            >
            <a
              mat-menu-item
              id="open-nav-item-child"
              routerLink="admin/publications/privee"
              routerLinkActive="active-link"
              >Privée
            </a>
            <a
              mat-menu-item
              id="open-nav-item-child"
              routerLink="admin/publications/not/accepted"
              routerLinkActive="active-link"
              >Non publiées
            </a>
          </mat-menu>
        </a>
        <!-- Pages -->
        <a
          id="open-nav-item"
          routerLink="admin/pages"
          routerLinkActive="active-link"
        >
          <i class="bi bi-file-earmark" id="open-nav-item-icon"></i>
          <span id="open-nav-item-span"> Pages </span>
        </a>
      </div>
    </ng-container>

    <!-- avatar section -->
    <div class="p-4" style="position: fixed; bottom: 0">
      <app-admin-side-nav-avatar></app-admin-side-nav-avatar>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-admin></app-admin>
  </div>
</mat-drawer-container>
