
<div class="head_section" >
  <div class="container">
    <span id="reseau">
      <span id="r">R</span>
      éseau
    </span>
    <span id="des"> des</span>
    <span id="femmes"><span id="f"> F</span>emmes</span>
    <span class="spacer"></span>
    <span id="universitaires"> <span id="u"> U</span>niversitaires</span>
    <div class="spacer"></div>
    <div>
      <span id="id"> et</span>
    </div>
    <div class="spacer"></div>
    <span id="enseignantes"> <span id="e">E</span>nseignantes</span>
    <span id="du"> du</span>
    <span id="mali"> <span id="m"> M</span>ali</span>

    <div class="spacer"></div>
    <span id="refuema"> REFUEMA </span>
  </div>
</div>

<!-- Section Mes Objectifs-->
<app-objectifs></app-objectifs>

<div *ngFor="let item of ['', '', '']">
  <app-mini-article [cardMedia]="'assets/svgs/Mali.svg'"></app-mini-article>
</div>


