
<div class="head_section" style="margin: 0px -60px 30px -60px">
  <div class="container">
    <span id="reseau">
      <span id="r">R</span>
      éseau
    </span>
    <span id="des"> des</span>
    <span id="femmes"><span id="f"> F</span>emmes</span>
    <span class="spacer"></span>
    <span id="universitaires"> <span id="u"> U</span>niversitaires</span>
    <div class="spacer"></div>
    <div>
      <span id="id"> et</span>
    </div>
    <div class="spacer"></div>
    <span id="enseignantes"> <span id="e">E</span>nseignantes</span>
    <span id="du"> du</span>
    <span id="mali"> <span id="m"> M</span>ali</span>

    <div class="spacer"></div>
    <span id="refuema"> REFUEMA </span>
  </div>
</div>
<div *ngFor="let item of ['', '', '']">
  <app-mini-article></app-mini-article>
</div>

<div class="">
  Lorem Ipsum "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
  consectetur, adipisci velit..." "There is no one who loves pain itself, who
  seeks after it and wants to have it, simply because it is pain..." Lorem ipsum
  dolor sit amet, consectetur adipiscing elit. Ut dictum ipsum ex, at
  condimentum erat consectetur id. Vivamus scelerisque maximus tortor, porta
  efficitur tellus lacinia ac. Quisque ac nibh ut ante pulvinar porttitor non
  eget diam. Cras dui sapien, ultricies in ipsum cursus, sagittis mattis est.
  Maecenas maximus a urna quis luctus. Mauris non tincidunt augue, vulputate
  venenatis ante. Maecenas ultricies commodo eleifend. In quis arcu pulvinar,
  semper magna eu, tincidunt nisi. Nunc vulputate elementum blandit. Aenean
  bibendum metus vitae tellus molestie dictum. Mauris felis massa, tincidunt et
  cursus et, pulvinar in erat. Maecenas vel lectus condimentum, imperdiet elit
  non, ullamcorper elit. Suspendisse sed iaculis lacus, sit amet sagittis ante.
  Morbi porta malesuada orci mollis porttitor. Ut vel ex maximus, pulvinar mi
  et, scelerisque odio. Vestibulum ut erat quis nulla consectetur eleifend.
  Aliquam dapibus tellus ut iaculis consequat. Praesent at dictum dolor. In
  venenatis at nunc nec gravida. Mauris non diam malesuada, ultrices arcu ut,
  egestas lorem. Curabitur aliquet leo nibh, ut aliquet ipsum rhoncus ut.
  Integer pulvinar semper rutrum. Sed ac auctor tortor. Nullam vel lectus vitae
  lacus elementum mollis eu ac nulla. Quisque tempus ut justo a commodo.
  Praesent at sem nisl. Sed ut tempor ante. Donec accumsan et nisl vel lacinia.
  Nulla suscipit enim ac varius mollis. Suspendisse at placerat dui, in sodales
  dolor. Donec nec lectus congue dolor finibus blandit non ut elit. Proin eget
  dolor urna. Cras ullamcorper ut sem sit amet eleifend. Donec vitae sapien ut
  ipsum luctus ullamcorper. Aenean luctus porttitor volutpat. Proin sit amet
  ullamcorper mauris, ut molestie nisi. Nunc dictum metus felis, eu hendrerit
  enim tincidunt ac. Nulla nec neque efficitur, luctus sapien ac, semper metus.
  Curabitur pellentesque sed urna ut ornare. Quisque congue, dui at efficitur
  tempus, nisl ante convallis sapien, ac mattis turpis massa sit amet augue.
  Integer in semper libero. Integer mauris velit, mattis pharetra faucibus eget,
  elementum id risus. Nunc porttitor massa ipsum, sit amet accumsan metus
  sodales sit amet. Nulla molestie tellus eu sem blandit, eu commodo sapien
  tempus. Praesent vel feugiat odio, id sollicitudin tortor. Fusce non venenatis
  nunc. Sed ultrices consectetur risus, et aliquet nisi lacinia ornare.
  Vestibulum vehicula blandit nibh sed accumsan. Proin porta est commodo velit
  tincidunt maximus. Nunc mauris arcu, ornare et pellentesque nec, dictum non
  est. Nulla molestie est vitae lorem pulvinar porta. Orci varius natoque
  penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
  euismod ante metus, sed lacinia nulla porta laoreet. Ut at imperdiet est.
  Pellentesque sapien turpis, iaculis et massa ut, ullamcorper vehicula felis.
  Phasellus eget nisl auctor, suscipit nibh at, consectetur metus. Nam suscipit
  nunc magna, sit amet lacinia ligula sagittis sed. Praesent dapibus ut elit eu
  viverra. Morbi nisl felis, tristique eget bibendum eu, semper ut neque.
  Phasellus id egestas nibh.
</div>
