.titre-article {
  color: #303738;
  font-size: 1.25rem;
  font-weight: 550;
  line-height: 1.2;
}

#titre-article-row {
  padding: 10px 12px;
}

#article-option-menu-item {
  padding: 12px 8px;
  cursor: pointer;
  span {
    margin-left: 8px;
  }
}
#article-option-menu-item:hover {
  background-color: #01766e13;
  mat-icon,
  span {
    color: #013b45;
  }
}
