<div class="profil_header">
  <app-profil-avatar
    [imageUrl]="user_image"
    (imageUrlEvent)="updateImage()"
  ></app-profil-avatar>

  <div class="profil_text">
    <p>
      <!-- {{ user.titre }} -->
      {{ user.firstName }} {{ user.lastName }}
    </p>
  </div>
  <div class="profil_edit" (click)="openEditModal()">
    <mat-icon>edit</mat-icon>
  </div>
</div>

<div class="profil_body">
  <div class="section-informations">
    <h2>Informations</h2>
    <hr />
    <div>
      Email :
      <span>{{ user.mail }}</span>
    </div>
    <div>
      Numéro de téléphone :
      <span>{{ user.phone }}</span>
    </div>
  </div>
  <div class="section-password">
    <h2>Mot de passe</h2>
    <hr />
    <div class="row">
      <div class="col" id="password">
        <input
          type="password"
          class="form-control my-2"
          id="password"
          [disabled]="true"
          value="°°°°°°°°°°°°°°°°"
        />
        <button
          class="btn form-control"
          id="btn-primary"
          (click)="openEditPassword()"
          style="white-space: normal"
        >
          Modifier
        </button>
      </div>
      <div class="col" id="col-is-mobile"></div>
    </div>
  </div>
</div>
