.profil_header {
  display: flex;
  overflow: hidden;
  width: 100%;
  background-color: #013b45;
  padding: 40px;
  padding-right: 10px;
  align-self: center;

  & .profil_text {
    padding: auto;
    font-family: "Cairo";
    align-self: center;
    text-align: center;
    font-weight: 900;
    font-size: x-large;
    color: azure;
    width: 80%;
  }
  & .profil_edit {
    display: flex;
    color: white;
    align-self: center;
    cursor: pointer;
  }
  .profil_edit:hover {
    color: #016678;
  }
}
.profil_body {
  padding: 40px;
}
@media screen and (max-width: 600px) {
  .profil_text {
    font-size: medium;
  }
  #col-is-mobile {
    display: none;
  }
}

::ng-deep .profil-menu {
  margin-top: 0px;
  border-radius: 8px !important;
  position: relative;
  padding: 0px 5px;
}

.section-password,.section-mail,
.section-informations {
  margin-bottom: 32px;
}

#btn-primary {
  float: none !important;
}
#password ,#mail{
  text-align: center;
  font-size: x-large;
}
