<div class="profil_header">
  <div class="profil_image">
    <img
      id="img"
      class="shadow-4-strong"
      alt="avatar2"
      [src]="user.photo ? user.photo : 'assets/svgs/Mali.svg'"
    />
  </div>
  <div class="profil_text">
    <p>{{ user.firstName }} {{ user.lastName }}</p>
  </div>
  <div class="profil_edit" (click)="openEditModal()">
    <mat-icon>edit</mat-icon>
  </div>
</div>

<div class="">
  <button (click)="open()">Open dialog</button>
</div>
<div class="profil_body">
  <p>Informations</p>
  <hr />
  <div>
    Email :

    <span>{{ user.mail }}</span>
  </div>
  <div>
    Numéro de téléphone :
    <span>{{ user.phone }}</span>
  </div>
</div>
