<!-- <p *ngIf="!editMode" (dblclick)="enableEditMode()">{{ content }}</p>
    <input *ngIf="editMode" (blur)="disableEditMode(); updateContent()" /> -->

<div class="page-hearder">
  <div class="section-title">Mon CV (SOON)</div>
</div>
<!-- NO CV SECTION -->
<div class="noCV">
  <div class="d-flex justify-content-center p-2">
    Vous n'avez pas encore de CV ? Ajouter votre CV.
  </div>
  <div class="d-flex justify-content-center p-2">
    <button class="btn" id="btn-primary" (click)="addCV()">Ajouter CV</button>
  </div>
</div>

<div class="row">
  <div
    class="col-6"
    style="overflow-y: scroll"
    [style.display]="isFullScreen ? 'none' : 'block'"
  >
    <!-- CV FORM SECTION -->

    <div class="wrapper mt-lg-5">
      <div class="accordion" id="accordionExample">
        <form [formGroup]="cvForm">
          <!-- Mes Informations accordion -->
          <div class="accordion-item" formGroupName="informationForm">
            <h2 class="accordion-header" id="heading2">
              <div
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#information'"
                aria-expanded="false"
                aria-controls="collapse"
              >
                Informations personnelles
              </div>
            </h2>
            <div
              id="information"
              class="accordion-collapse collapse"
              aria-labelledby="heading2"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class="row mb-4">
                  <!-- Lastname -->
                  <div class="col-md-6">
                    <label for="profile-title" class="form-label"> Nom </label>
                    <input
                      formControlName="lastName"
                      type="text"
                      id="profile-title"
                      class="form-control"
                    />
                  </div>
                  <!-- Firstname -->
                  <div class="col-md-6">
                    <label for="profile-title" class="form-label">
                      Prénom
                    </label>
                    <input
                      formControlName="firstName"
                      type="text"
                      id="profile-title"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="row mb-4">
                  <!-- mail -->
                  <div class="col-md-6">
                    <label for="profile-title" class="form-label">
                      email
                    </label>
                    <input
                      formControlName="mail"
                      type="text"
                      id="profile-title"
                      class="form-control"
                    />
                  </div>
                  <!-- phone -->
                  <div class="col-md-6">
                    <label for="profile-title" class="form-label">
                      Téléphone
                    </label>
                    <input
                      formControlName="phone"
                      type="text"
                      id="profile-title"
                      class="form-control"
                    />
                  </div>
                </div>
                <!-- spécialité -->
                <div class="col-md-6">
                  <label for="profile-title" class="form-label">
                    Spécialité
                  </label>
                  <input
                    formControlName="specialite"
                    type="text"
                    id="profile-title"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- Profile accordion -->
          <div class="accordion-item" formGroupName="profileForm">
            <h2 class="accordion-header" id="heading1">
              <div
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#profile'"
                aria-expanded="false"
                aria-controls="collapse1"
              >
                Profile
              </div>
            </h2>
            <div
              id="profile"
              class="accordion-collapse collapse"
              aria-labelledby="heading1"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class="mb-4">
                  <label for="profile-title" class="form-label"> Titre </label>
                  <input
                    formControlName="title"
                    type="text"
                    id="profile-title"
                    class="form-control"
                  />
                </div>
                <div class="mb-4">
                  <label for="profile" class="form-label">Description</label>
                  <textarea
                    formControlName="description"
                    class="form-control"
                    id="profile-content"
                    placeholder="Description de votre profile"
                    required
                    rows="5"
                    style="height: 100%"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
          <!-- Expériences accordion -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading3">
              <div
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#experiences'"
                aria-expanded="false"
                aria-controls="collapse3"
              >
                Expériences
              </div>
            </h2>
            <div
              id="experiences"
              class="accordion-collapse collapse"
              aria-labelledby="heading3"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class="mb-4">
                  <button (click)="ajouterExperience()" class="btn">
                    Ajouter une expérience
                  </button>
                </div>
                <!-- Afficher les expériences existantes -->

                <div formArrayName="experiences">
                  <div
                    *ngFor="
                      let experience of experiences.controls;
                      let i = index
                    "
                    [formGroupName]="i"
                  >
                    <div
                      *ngIf="experience as currentExperience"
                      style="
                        border-radius: 8px;
                        border-color: gray;
                        border-width: 1px;
                        border-style: solid;
                        padding: 12px;
                      "
                    >
                      <div class="mb-4">
                        <span (click)="deleteExperience(i)">
                          <mat-icon style="float: right; cursor: pointer"
                            >delete</mat-icon
                          >
                        </span>
                        <label for="titre{{ i }}" class="form-label">
                          Titre
                        </label>
                        <input
                          type="text"
                          id="titre{{ i }}"
                          class="form-control"
                          formControlName="title"
                        />
                      </div>
                      <div class="row mb-4">
                        <div class="col-md-6">
                          <label for="employeur{{ i }}" class="form-label">
                            Employeur
                          </label>
                          <input
                            type="text"
                            id="employeur{{ i }}"
                            class="form-control"
                            formControlName="employer"
                          />
                        </div>
                        <div class="col-md-6">
                          <label for="lieu{{ i }}" class="form-label">
                            Lieu
                          </label>
                          <input
                            type="text"
                            id="lieu{{ i }}"
                            class="form-control"
                            formControlName="lieu"
                          />
                        </div>
                      </div>
                      <div class="row mb-4">
                        <div class="col-md-6" formGroupName="startDate">
                          Date de début
                          <div class="row mb-4">
                            <div class="col-md-6">
                              <input
                              formControlName="mois"
                                type="text"
                                id="profile-title"
                                class="form-control"
                              />
                            </div>
                            <div class="col-md-6">
                              <input
                              formControlName="annee"
                                type="text"
                                id="profile-title"
                                class="form-control"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6" formGroupName="endDate">
                          Date de fin
                          <div class="row mb-4">
                            <div class="col-md-6">
                              <input
                              formControlName="mois"
                                type="text"
                                id="profile-title"
                                class="form-control"
                              />
                            </div>

                            <div class="col-md-6">
                              <input
                              formControlName="annee"
                                type="text"
                                id="profile-title"
                                class="form-control"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="mb-4">
                        <label for="description{{ i }}" class="form-label"
                          >Description</label
                        >
                        <textarea
                          id="description{{ i }}"
                          class="form-control"
                          formControlName="description"
                          placeholder="Description de votre expérience"
                          required
                          rows="5"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Projets accordion -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading4">
              <div
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#projets'"
                aria-expanded="false"
                aria-controls="collapse4"
              >
                Projets
              </div>
            </h2>
            <div
              id="projets"
              class="accordion-collapse collapse"
              aria-labelledby="heading4"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class="mb-4">
                  <button (click)="ajouterProjet()" class="btn">
                    Ajouter un projet
                  </button>
                </div>
                <div formArrayName="projects">
                  <div
                    *ngFor="let project of projects.controls; let i = index"
                    [formGroupName]="i"
                  >
                    <div *ngIf="project as currentProject">
                      <div class="mb-4">
                        <label for="titre{{ i }}" class="form-label">
                          Titre
                        </label>
                        <input
                          type="text"
                          id="titre{{ i }}"
                          class="form-control"
                          formControlName="titre"
                        />
                      </div>
                      <div class="mb-4">
                        <label for="profile" class="form-label"
                          >Description</label
                        >
                        <textarea
                          class="form-control"
                          id="profile-content"
                          placeholder="Description de votre expérience"
                          required
                          rows="5"
                          style="height: 100%"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Add your content for "Projets" here -->
            </div>
          </div>
          <!-- Compétences accordion -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading5">
              <div
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#competences'"
                aria-expanded="false"
                aria-controls="collapse5"
              >
                Compétences
              </div>
            </h2>
            <div
              id="competences"
              class="accordion-collapse collapse"
              aria-labelledby="heading5"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class="row mb-4">
                  <div class="col-md-6">
                    <label for="profile-title" class="form-label">
                      Titre
                    </label>
                    <input type="text" class="form-control" />
                  </div>
                  <div class="col-md-6">
                    <label for="profile-title" class="form-label">
                      Niveau
                    </label>
                    <mat-slider
                      min="25"
                      max="100"
                      step="25"
                      showTickMarks
                      discrete
                      [displayWith]="formatLabel"
                    >
                      <input matSliderThumb />
                    </mat-slider>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="wrapper mt-lg-5">
      <!-- CV VIEW SECTION -->
      <app-cv-view
        *ngIf="haveCV"
        [cvUserImage]="userImage"
        [cvProfileTitle]="cvFormControls['profileForm'].controls['title'].value"
        [cvInformationLastName]="
          cvFormControls['informationForm'].controls['lastName'].value
        "
        [cvInformationFirstName]="
          cvFormControls['informationForm'].controls['firstName'].value
        "
        [cvInformationMail]="
          cvFormControls['informationForm'].controls['mail'].value
        "
        [cvInformationPhone]="
          cvFormControls['informationForm'].controls['phone'].value
        "
        [cvInformationSpecialite]="
          cvFormControls['informationForm'].controls['specialite'].value
        "
        [cvProfileDescription]="
          cvFormControls['profileForm'].controls['description'].value
        "
        [cvExperiences]="cvFormControls['experiences'].value"
      ></app-cv-view>
      <div
        class=""
        (click)="fullScreen()"
        style="float: right; cursor: pointer"
      >
        <mat-icon style="font-size: 24px">fullscreen</mat-icon>
      </div>
    </div>
  </div>
</div>

<!-- Loading Overlay -->
<!-- <div class="overlay" *ngIf="isLoading">
  <div
    class=""
    style="
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      align-items: center;
    "
  >
     <mat-spinner></mat-spinner>
    <mat-spinner></mat-spinner>
    <mat-spinner></mat-spinner>
    <mat-spinner></mat-spinner> 
  </div>
</div> -->
