.accordion-button {
  color: black;
  text-align: center;
}
.collapse:not(.show) {
  display: none;
}

.collapse .show {
  display: block;
}

.item-number {
  float: right;
  padding: 12px;
}

#form-col {
  overflow-y: scroll;
  max-height: 1000px;
  position: relative;
}
.array-item {
  border-radius: 8px;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  margin: 2px;
  padding: 12px;
}
.custom-height-input {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  height: 36px; /* Adjust the height as needed */
}
