<!-- <p *ngIf="!editMode" (dblclick)="enableEditMode()">{{ content }}</p>
    <input *ngIf="editMode" (blur)="disableEditMode(); updateContent()" /> -->

<div class="page-hearder">
  <div class="section-title">Mon CV (SOON)</div>
</div>
<!-- NO CV SECTION -->
<div class="noCV" *ngIf="!haveCV">
  <div class="d-flex justify-content-center p-2">
    Vous n'avez pas encore de CV ? Ajouter votre CV.
  </div>
  <div class="d-flex justify-content-center p-2">
    <button class="btn" id="btn-primary" (click)="addCV()">Ajouter CV</button>
  </div>
</div>

<div class="row" *ngIf="haveCV">
  <div class="pt-4">
    <button
      class="btn"
      id="btn-primary"
      style="width: 100%"
      (click)="changeMode()"
      *ngIf="!editMode"
    >
      Modifier mon cv
    </button>
  </div>
  <div
    *ngIf="editMode"
    class="col"
    id="form-col"
    [style.display]="isFullScreen ? 'none' : 'block'"
  >
    <!-- CV FORM SECTION -->
    <div class="wrapper mt-lg-5">
      <div class="accordion" id="accordionExample">
        <form [formGroup]="cvForm">
          <!-- Mes Informations accordion -->
          <div class="accordion-item" formGroupName="informationForm">
            <h2 class="accordion-header" id="heading2">
              <div
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#information'"
                aria-expanded="false"
                aria-controls="collapse"
              >
                Informations personnelles
              </div>
            </h2>
            <div
              id="information"
              class="accordion-collapse collapse"
              aria-labelledby="heading2"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class="row mb-4">
                  <!-- Lastname -->
                  <div class="col-md-6">
                    <label for="lastName" class="form-label"> Nom </label>
                    <input
                      formControlName="lastName"
                      type="text"
                      id="lastName"
                      class="form-control"
                    />
                  </div>
                  <!-- Firstname -->
                  <div class="col-md-6">
                    <label for="firstName" class="form-label"> Prénom </label>
                    <input
                      formControlName="firstName"
                      type="text"
                      id="firstName"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="row mb-4">
                  <!-- mail -->
                  <div class="col-md-6">
                    <label for="mail" class="form-label"> email </label>
                    <input
                      formControlName="mail"
                      type="text"
                      id="mail"
                      class="form-control"
                    />
                  </div>
                  <!-- phone -->
                  <div class="col-md-6">
                    <label for="phone" class="form-label"> Téléphone </label>
                    <input
                      formControlName="phone"
                      type="text"
                      id="phone"
                      class="form-control"
                      autocomplete="on"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Profile accordion -->
          <div class="accordion-item" formGroupName="profileForm">
            <h2 class="accordion-header" id="heading1">
              <div
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#profile'"
                aria-expanded="false"
                aria-controls="collapse1"
              >
                Profile
              </div>
            </h2>
            <div
              id="profile"
              class="accordion-collapse collapse"
              aria-labelledby="heading1"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class="mb-4">
                  <label for="profile-title" class="form-label"> Titre </label>
                  <input
                    formControlName="title"
                    type="text"
                    id="profile-title"
                    class="form-control"
                  />
                </div>
                <div class="mb-4">
                  <label for="description" class="form-label"
                    >Description</label
                  >
                  <textarea
                    formControlName="description"
                    class="form-control"
                    id="description"
                    placeholder="Description de votre profile"
                    required
                    rows="5"
                    style="height: 100%"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
          <!-- Liens reseau accordion -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading10">
              <div
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#links'"
                aria-expanded="false"
                aria-controls="collapse10"
              >
                Liens Réseau
              </div>
            </h2>
            <div
              id="links"
              class="accordion-collapse collapse"
              aria-labelledby="heading10"
              data-bs-parent="#accordionExample"
            >
              <span class="item-number">
                {{ cvFormControls["links"].value.length }}/3</span
              >
              <div class="accordion-body">
                <div class="mb-4">
                  <button
                    (click)="addLinks()"
                    class="btn"
                    *ngIf="this.cvFormControls['links'].value.length < 3"
                  >
                    Ajouter une expérience
                  </button>
                </div>
                <!-- Afficher les expériences existantes -->
                <div formArrayName="links">
                  <div
                    *ngFor="let link of links.controls; let i = index"
                    [formGroupName]="i"
                  >
                    <div *ngIf="link as currentLink" class="array-item">
                      <div class="mb-4">
                        <span (click)="deleteLink(i)">
                          <mat-icon style="float: right; cursor: pointer"
                            >delete</mat-icon
                          >
                        </span>
                        <label for="name{{ i }}" class="form-label">
                          Nom
                        </label>
                        <input
                          type="text"
                          id="name{{ i }}"
                          class="form-control"
                          formControlName="name"
                        />
                      </div>
                      <div class="mb-4">
                        <label for="link{{ i }}" class="form-label">
                          Lien
                        </label>
                        <input
                          type="text"
                          id="link{{ i }}"
                          class="form-control"
                          formControlName="link"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Expériences accordion -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading3">
              <div
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#experiences'"
                aria-expanded="false"
                aria-controls="collapse3"
              >
                Expériences
              </div>
            </h2>
            <div
              id="experiences"
              class="accordion-collapse collapse"
              aria-labelledby="heading3"
              data-bs-parent="#accordionExample"
            >
              <span class="item-number">
                {{ cvFormControls["experiences"].value.length }}/3</span
              >
              <div class="accordion-body">
                <div class="mb-4">
                  <button
                    (click)="addExperience()"
                    class="btn"
                    *ngIf="this.cvFormControls['experiences'].value.length < 3"
                  >
                    Ajouter une expérience
                  </button>
                </div>
                <!-- Afficher les expériences existantes -->
                <div formArrayName="experiences">
                  <div
                    *ngFor="
                      let experience of experiences.controls;
                      let i = index
                    "
                    [formGroupName]="i"
                  >
                    <div
                      *ngIf="experience as currentExperience"
                      class="array-item"
                    >
                      <div class="mb-4">
                        <span (click)="deleteExperience(i)">
                          <mat-icon style="float: right; cursor: pointer"
                            >delete</mat-icon
                          >
                        </span>
                        <label for="titre{{ i }}" class="form-label">
                          Titre
                        </label>
                        <input
                          type="text"
                          id="titre{{ i }}"
                          class="form-control"
                          formControlName="title"
                        />
                      </div>
                      <div class="row mb-4">
                        <div class="col-md-6">
                          <label for="employeur{{ i }}" class="form-label">
                            Employeur
                          </label>
                          <input
                            type="text"
                            id="employeur{{ i }}"
                            class="form-control"
                            formControlName="employer"
                          />
                        </div>
                        <div class="col-md-6">
                          <label for="lieu{{ i }}" class="form-label">
                            Lieu
                          </label>
                          <input
                            type="text"
                            id="lieu{{ i }}"
                            class="form-control"
                            formControlName="lieu"
                          />
                        </div>
                      </div>

                      <div class="row mb-4">
                        <!-- Date de début -->
                        <div class="col-md-6">
                          <label for="startDate{{ i }}" class="form-label"
                            >Date de début</label
                          >
                          <div class="input-group">
                            <input
                              matInput
                              [matDatepicker]="startDatePicker"
                              placeholder="Mois"
                              formControlName="startDate"
                              class="form-control custom-height-input"
                              id="startDate{{ i }}"
                              readonly
                            />
                            <span class="input-group-text custom-height-input">
                              <mat-datepicker-toggle
                                [for]="startDatePicker"
                              ></mat-datepicker-toggle>
                            </span>
                            <mat-datepicker #startDatePicker></mat-datepicker>
                          </div>
                        </div>

                        <!-- Date de fin -->
                        <div class="col-md-6">
                          <label for="endDate{{ i }}" class="form-label"
                            >Date de fin</label
                          >
                          <div class="input-group">
                            <input
                              matInput
                              [matDatepicker]="endDatePicker"
                              formControlName="endDate"
                              class="form-control custom-height-input"
                              id="endDate{{ i }}"
                              readonly
                            />
                            <span class="input-group-text custom-height-input">
                              <mat-datepicker-toggle
                                [for]="endDatePicker"
                              ></mat-datepicker-toggle>
                            </span>
                            <mat-datepicker #endDatePicker></mat-datepicker>
                          </div>
                        </div>
                      </div>

                      <div class="mb-4">
                        <label for="description{{ i }}" class="form-label"
                          >Description</label
                        >
                        <textarea
                          id="description{{ i }}"
                          class="form-control"
                          formControlName="description"
                          placeholder="Description de votre expérience"
                          required
                          rows="5"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Projets accordion -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading4">
              <div
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#projets'"
                aria-expanded="false"
                aria-controls="collapse4"
              >
                Projets
              </div>
            </h2>
            <div
              id="projets"
              class="accordion-collapse collapse"
              aria-labelledby="heading4"
              data-bs-parent="#accordionExample"
            >
              <span class="item-number">
                {{ cvFormControls["projects"].value.length }}/5</span
              >
              <div class="accordion-body">
                <div class="mb-4">
                  <button
                    (click)="addProject()"
                    class="btn"
                    *ngIf="this.cvFormControls['projects'].value.length < 5"
                  >
                    Ajouter un projet
                  </button>
                </div>
                <div formArrayName="projects">
                  <div
                    *ngFor="let project of projects.controls; let i = index"
                    [formGroupName]="i"
                  >
                    <div *ngIf="project as currentProject" class="array-item">
                      <div class="mb-4">
                        <span (click)="deleteProject(i)">
                          <mat-icon style="float: right; cursor: pointer"
                            >delete</mat-icon
                          >
                        </span>
                        <label for="titre{{ i }}" class="form-label">
                          Titre(SOON)
                        </label>
                        <input
                          readonly
                          type="text"
                          id="titre{{ i }}"
                          class="form-control"
                          formControlName="title"
                        />
                      </div>
                      <div class="mb-4">
                        <label for="link{{ i }}" class="form-label">
                          Lien(SOON)
                        </label>
                        <input
                          readonly
                          type="text"
                          id="link{{ i }}"
                          class="form-control"
                          formControlName="link"
                        />
                      </div>
                      <div class="mb-4">
                        <label for="project-content{{ i }}" class="form-label"
                          >Description (SOON)
                        </label>
                        <textarea
                          readonly
                          formControlName="description"
                          class="form-control"
                          id="project-content{{ i }}"
                          placeholder="Description de votre projet"
                          required
                          rows="5"
                          style="height: 100%"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Compétences accordion -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading5">
              <div
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#competences'"
                aria-expanded="false"
                aria-controls="collapse5"
              >
                Compétences
              </div>
            </h2>
            <div
              id="competences"
              class="accordion-collapse collapse"
              aria-labelledby="heading5"
              data-bs-parent="#accordionExample"
            >
              <span class="item-number">
                {{ cvFormControls["competences"].value.length }}/3</span
              >
              <div class="accordion-body">
                <div class="mb-4">
                  <button (click)="addCompetence()" class="btn">
                    Ajouter une compétence
                  </button>
                </div>
                <div formArrayName="competences">
                  <div
                    *ngFor="
                      let competence of competences.controls;
                      let i = index
                    "
                    [formGroupName]="i"
                  >
                    <div
                      *ngIf="competence as currentCompetence"
                      class="array-item"
                    >
                      <span (click)="deleteCompetence(i)">
                        <mat-icon style="float: right; cursor: pointer"
                          >delete</mat-icon
                        >
                      </span>

                      <div class="row mb-4">
                        <div class="col-md-6">
                          <label for="profile-title" class="form-label">
                            Titre
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="name"
                          />
                        </div>
                        <div class="col-md-6">
                          <label for="profile-title" class="form-label">
                            Niveau
                          </label>
                          <mat-slider
                            [step]="25"
                            showTickMarks
                            discrete
                            [displayWith]="formatLabel"
                            [min]="0"
                            [max]="100"
                          >
                            <input matSliderThumb formControlName="level" />
                          </mat-slider>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Formations accordion -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading6">
              <div
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#formations'"
                aria-expanded="false"
                aria-controls="collapse6"
              >
                Formations
              </div>
            </h2>
            <div
              id="formations"
              class="accordion-collapse collapse"
              aria-labelledby="heading6"
              data-bs-parent="#accordionExample"
            >
              <span class="item-number">
                {{ cvFormControls["formations"].value.length }}/3</span
              >
              <div class="accordion-body">
                <div class="mb-4">
                  <button
                    (click)="addFormation()"
                    class="btn"
                    *ngIf="this.cvFormControls['formations'].value.length < 3"
                  >
                    Ajouter une formations
                  </button>
                </div>
                <div formArrayName="formations">
                  <div
                    *ngFor="let formation of formations.controls; let i = index"
                    [formGroupName]="i"
                  >
                    <div
                      *ngIf="formation as currentFormation"
                      class="array-item"
                    >
                      <div class="mb-4">
                        <span (click)="deleteFormation(i)">
                          <mat-icon style="float: right; cursor: pointer"
                            >delete</mat-icon
                          >
                        </span>
                        <label for="title{{ i }}" class="form-label">
                          Titre (Diplôme)
                        </label>
                        <input
                          formControlName="name"
                          type="text"
                          id="title{{ i }}"
                          class="form-control"
                        />
                      </div>
                      <div class="mb-4">
                        <label for="etablissement{{ i }}" class="form-label">
                          Établissement
                        </label>

                        <input
                          formControlName="etablissement"
                          type="text"
                          id="etablissement{{ i }}"
                          class="form-control"
                        />
                      </div>

                      <div class="row mb-4" formGroupName="periode">
                        <!-- Date de début -->
                        <div class="col-md-6">
                          <label for="startDate{{ i }}" class="form-label"
                            >Date de début</label
                          >
                          <div class="input-group">
                            <input
                              matInput
                              [matDatepicker]="startDatePicker"
                              placeholder="Mois"
                              formControlName="startDate"
                              class="form-control custom-height-input"
                              id="startDate{{ i }}"
                              readonly
                            />
                            <span class="input-group-text custom-height-input">
                              <mat-datepicker-toggle
                                [for]="startDatePicker"
                              ></mat-datepicker-toggle>
                            </span>
                            <mat-datepicker #startDatePicker></mat-datepicker>
                          </div>
                        </div>

                        <!-- Date de fin -->
                        <div class="col-md-6">
                          <label for="endDate{{ i }}" class="form-label"
                            >Date de fin</label
                          >
                          <div class="input-group">
                            <input
                              matInput
                              [matDatepicker]="endDatePicker"
                              formControlName="endDate"
                              class="form-control custom-height-input"
                              id="endDate{{ i }}"
                              readonly
                            />
                            <span class="input-group-text custom-height-input">
                              <mat-datepicker-toggle
                                [for]="endDatePicker"
                              ></mat-datepicker-toggle>
                            </span>
                            <mat-datepicker #endDatePicker></mat-datepicker>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Langues accordion -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading7">
              <div
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#langues'"
                aria-expanded="false"
                aria-controls="collapse7"
              >
                Langues
              </div>
            </h2>
            <div
              id="langues"
              class="accordion-collapse collapse"
              aria-labelledby="heading7"
              data-bs-parent="#accordionExample"
            >
              <span class="item-number">
                {{ cvFormControls["langues"].value.length }}/3</span
              >
              <div class="accordion-body">
                <div class="mb-4">
                  <button
                    (click)="addLangue()"
                    class="btn"
                    *ngIf="cvFormControls['langues'].value.length < 3"
                  >
                    Ajouter une langue
                  </button>
                </div>
                <div formArrayName="langues">
                  <div
                    *ngFor="let langue of langues.controls; let i = index"
                    [formGroupName]="i"
                  >
                    <div *ngIf="langue as currentLangue" class="array-item">
                      <div class="mb-4">
                        <span (click)="deleteLangue(i)">
                          <mat-icon style="float: right; cursor: pointer"
                            >delete</mat-icon
                          >
                        </span>
                        <label for="langue{{ i }}" class="form-label">
                          Langue
                        </label>
                        <input
                          formControlName="langue"
                          type="text"
                          id="langue{{ i }}"
                          class="form-control"
                        />
                      </div>
                      <div class="row mb-4">
                        <div class="col-md-6">
                          <label for="profile-title" class="form-label">
                            Niveau
                          </label>
                          <mat-slider
                            [step]="25"
                            showTickMarks
                            discrete
                            [displayWith]="formatLabel"
                            [min]="0"
                            [max]="100"
                          >
                            <input matSliderThumb formControlName="level" />
                          </mat-slider>
                        </div>
                        <div
                          class="col-md-6 p-2"
                          [ngSwitch]="
                            this.cvFormControls['langues'].controls[i].value
                              .level
                          "
                        >
                          <span *ngSwitchCase="0">Niveau Zéro ?</span>
                          <span *ngSwitchCase="25">Debutant</span>
                          <span *ngSwitchCase="50">Intermédiaire</span>
                          <span *ngSwitchCase="75">Avancé</span>
                          <span *ngSwitchCase="100">Professionelle</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Hobbies accordion -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading8">
              <div
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#hobbies'"
                aria-expanded="false"
                aria-controls="collapse8"
              >
                Centres d'intérêt
              </div>
            </h2>
            <div
              id="hobbies"
              class="accordion-collapse collapse"
              aria-labelledby="heading8"
              data-bs-parent="#accordionExample"
            >
              <span class="item-number">
                {{ cvFormControls["hobbies"].value.length }}/3</span
              >
              <div class="accordion-body">
                <div class="mb-4">
                  <button
                    (click)="addHobbie()"
                    class="btn"
                    *ngIf="this.cvFormControls['hobbies'].value.length < 3"
                  >
                    Ajouter un centre d'intérêt
                  </button>
                </div>
                <div formArrayName="hobbies">
                  <div
                    *ngFor="let hobbie of hobbies.controls; let i = index"
                    [formGroupName]="i"
                  >
                    <div *ngIf="hobbie as currentHobbies" class="array-item">
                      <div class="mb-4">
                        <span (click)="deleteHobbie(i)">
                          <mat-icon style="float: right; cursor: pointer"
                            >delete</mat-icon
                          >
                        </span>
                        <label for="interest {{ i }}" class="form-label">
                          Titre
                        </label>
                        <input
                          type="text"
                          id="interest{{ i }}"
                          class="form-control"
                          formControlName="interest"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="wrapper mt-lg-2">
      <div class="action p-2">
        <button
          class="btn btn-danger"
          (click)="cancelEditCV()"
          *ngIf="editMode"
        >
          Annuler
        </button>
        <button class="btn" id="btn-primary" *ngIf="editMode && !haveCV" (click)="addCV()">
          Valider
        </button>
        <button
          class="btn"
          id="btn-primary"
          *ngIf="editMode && haveCV"
          (click)="updateCV()"
        >
          Modifier
        </button>
      </div>
      <!-- CV VIEW SECTION -->
      <app-cv-view
        *ngIf="haveCV"
        [cvUserImage]="userImage"
        [cvProfileTitle]="cvFormControls['profileForm'].controls['title'].value"
        [cvInformationLastName]="
          cvFormControls['informationForm'].controls['lastName'].value
        "
        [cvInformationFirstName]="
          cvFormControls['informationForm'].controls['firstName'].value
        "
        [cvInformationMail]="
          cvFormControls['informationForm'].controls['mail'].value
        "
        [cvInformationPhone]="
          cvFormControls['informationForm'].controls['phone'].value
        "
        [cvInformationSpecialite]="
          cvFormControls['informationForm'].controls['specialite'].value
        "
        [cvProfileDescription]="
          cvFormControls['profileForm'].controls['description'].value
        "
        [cvExperiences]="cvFormControls['experiences'].value"
        [cvProjets]="cvFormControls['projects'].value"
        [cvCompetences]="cvFormControls['competences'].value"
        [cvFormations]="cvFormControls['formations'].value"
        [cvLangues]="cvFormControls['langues'].value"
        [cvHobbies]="cvFormControls['hobbies'].value"
        [cvLinks]="cvFormControls['links'].value"
      ></app-cv-view>
      <div
        *ngIf="editMode"
        class=""
        (click)="fullScreen()"
        style="float: right; cursor: pointer"
      >
        <mat-icon style="font-size: 24px">fullscreen</mat-icon>
      </div>
    </div>
  </div>
</div>

<!-- Loading Overlay -->
<!-- <div class="overlay" *ngIf="isLoading">
  <div
    class=""
    style="
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      align-items: center;
    "
  >
     <mat-spinner></mat-spinner>
    <mat-spinner></mat-spinner>
    <mat-spinner></mat-spinner>
    <mat-spinner></mat-spinner> 
  </div>
</div> -->
