<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div
        class="col-lg-6 mb-5 mb-lg-0"
        style="z-index: 10; align-self: self-start"
      >
        <h1
          class="my-5 display-5 fw-bold ls-tight"
          style="font-size: 300%; color: hsl(218, 81%, 95%)"
        >
          Connexion <br />
        </h1>
        <h1
          class="my-5 display-5 fw-bold ls-tight"
          style="color: hsl(218, 81%, 95%)"
        >
          REFUEMA<br />
          <span style="color: hsl(218, 81%, 75%)"
            >Réseau des Femmes Universitaires et Enseignantes du Mali</span
          >
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          S'il vous plait rensaigner correctement vos informations pour vous
          connecter a votre compte
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div
          id="radius-shape-1"
          class="position-absolute rounded-circle shadow-5-strong"
        ></div>
        <div
          id="radius-shape-2"
          class="position-absolute shadow-5-strong"
        ></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <!-- Loading Component -->
            <app-progress-bar
              *ngIf="this.loadingService.isLoading$ | async as isLoading"
            ></app-progress-bar>
            <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
              <div class="error_message">
                <div
                  *ngIf="
                    erroStatus == 401 && (loginForm.dirty || loginForm.touched)
                  "
                >
                  <span class="error_message_content" style="font-size: medium"
                    >*Email ou mot de passe incorrecte
                  </span>
                </div>
              </div>
              <!-- Email -->
              <div class="form-outline mb-3">
                <div class="error_message">
                  <div
                    *ngIf="
                      formControl['mail'].invalid &&
                      (formControl['mail'].dirty || formControl['mail'].touched)
                    "
                  >
                    <span
                      class="error_message_content"
                      *ngIf="formControl['mail'].errors?.['required']"
                      >*Veuillez saisir votre email!</span
                    >
                    <span
                      class="error_message_content"
                      *ngIf="formControl['mail'].errors?.['email']"
                      >*Veuillez saisir le bon format d'email!</span
                    >
                  </div>
                </div>
                <input
                  [ngClass]="{
                    isInvalid:
                      loginForm.get('mail')?.invalid &&
                      loginForm.get('mail')?.touched
                  }"
                  type="email"
                  id="form_email"
                  class="form-control"
                  formControlName="mail"
                />
                <label class="form-label" for="form_email">Email</label>
              </div>
              <!--Password -->
              <div class="form-outline mb-3">
                <div class="error_message">
                  <div
                    *ngIf="
                      loginForm.controls['password'].invalid &&
                      (loginForm.controls['password'].dirty ||
                        loginForm.controls['password'].touched)
                    "
                  >
                    <span
                      class="error_message_content"
                      *ngIf="loginForm.controls['password'].errors?.['required']"
                      >*Veuillez saisir votre mot de passe!</span
                    >
                    <span
                      class="error_message_content"
                      *ngIf="loginForm.controls['password'].errors?.['minlength']"
                      >*Veuillez saisir 4 charactères au minimun!</span
                    >
                  </div>
                </div>
                <input
                  [ngClass]="{
                    isInvalid:
                      loginForm.get('password')?.invalid &&
                      loginForm.get('password')?.touched
                  }"
                  type="password"
                  id="form_password"
                  class="form-control"
                  formControlName="password"
                />
                <label class="form-label" for="form_password"
                  >Mot de passe</label
                >
              </div>

              <!-- Checkbox -->
              <!-- <div class="form-check d-flex justify-content-center mb-4">
                <input
                  class="form-check-input me-2"
                  type="checkbox"
                  value=""
                  id="form2Example33"
                  unchecked
                />
                <label class="form-check-label" for="form2Example33">
                  Se souvenez de moi ?
                </label>
              </div> -->

              <!-- LINK PASSWORD RESET -->
              <div class="form-outline  d-flex justify-content-end mb-3">
                <a routerLink="/passwordreset" routerLinkActive="active-link">
                  <span> Réinitialiser le mot de passe ?</span>
                </a>
              </div>

              <!-- Submit button -->
              <button
                id="btn-submit"
                type="submit"
                [disabled]="loginForm.invalid || isLoading"
                class="btn btn-primary btn-block mb-4"
              >
                Connexion
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
