.login_section {
  display: flex;
  flex-wrap: wrap-reverse;
  list-style: none;
  margin: 0;
  padding: 0;

  position: relative;
  width: auto;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  padding: 30px 30px;
  transition: 1s;
  background-image: url("../../../assets/svgs/wave.svg");
  /* background-color: #013b45; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
