<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1
          class="my-5 display-5 fw-bold ls-tight"
          style="font-size: 300%; ; color: hsl(218, 81%, 95%)"
        >
          Connexion <br />
        </h1>
        <h1
          class="my-5 display-5 fw-bold ls-tight"
          style="color: hsl(218, 81%, 95%)"
        >
          REFUE-MALI<br />
          <span style="color: hsl(218, 81%, 75%)"
            >Réseau des Femmes Universitaires et Enseignantes du Mali</span
          >
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
         S'il vous plait rensaigner correctement vos information pour vous connecter a votre compte 
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div
          id="radius-shape-1"
          class="position-absolute rounded-circle shadow-5-strong"
        ></div>
        <div
          id="radius-shape-2"
          class="position-absolute shadow-5-strong"
        ></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form>
              <div class="form-outline mb-4">
                <input type="email" id="form_email" class="form-control" />
                <label class="form-label" for="form_email"
                  >Email</label
                >
              </div>

             
              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="form_password"
                  class="form-control"
                />
                <label class="form-label" for="form_password">Mot de passe</label>
              </div>

              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input
                  class="form-check-input me-2"
                  type="checkbox"
                  value=""
                  id="form2Example33"
                  unchecked
                />
                <label class="form-check-label" for="form2Example33">
                  Se souvenez de moi ?
                </label>
              </div>

              <!-- Submit button -->
              <button type="submit" id="btn-submit"
                class="btn btn-primary btn-block mb-4">
                Connexion
              </button>

              <!-- Register buttons -->
              <!-- <div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
