<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div
        class="col-lg-6 mb-5 mb-lg-0"
        style="z-index: 10; align-self: self-start"
      >
        <h1
          class="my-3 display-5 fw-bold ls-tight"
          style="font-size: 200%; color: hsl(218, 81%, 95%)"
        >
          Réinitialiser le mot de passe ? <br />
        </h1>
        <h1 class="display-5 fw-bold ls-tight" style="color: hsl(17, 81%, 75%)">
          REFUEMA<br />
        </h1>

        <p style="color: hsl(218, 81%, 95%)">
          <br />
          <span
            >Veuillez indiquer votre adresse e-mail. Merci de vérifier votre
            boîte de réception, vous recevrez bientôt un code de
            réinitialisation
          </span>
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div
          id="radius-shape-1"
          class="position-absolute rounded-circle shadow-5-strong"
        ></div>
        <div
          id="radius-shape-2"
          class="position-absolute shadow-5-strong"
        ></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <!-- Loading Component -->
            <!-- <app-progress-bar
              *ngIf="this.loadingService.isLoading$ | async as isLoading"
            ></app-progress-bar> -->
            <form
              novalidate
              [formGroup]="emailForm"
              (ngSubmit)="resetPassword()"
            >
              <!-- Email -->
              <div class="form-outline mb-3">
                <input
                  type="email"
                  id="form_email"
                  class="form-control"
                  formControlName="mail"
                />
                <label class="form-label" for="form_email">Email</label>
              </div>

              <!-- Submit button -->
              <button
                id="btn-submit"
                type="submit"
                class="btn btn-primary btn-block mb-4"
              >
                Réinitialiser
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
