<div class="objectif">
  <div class="container">
    <h2 style="margin-bottom: 10px">
      Les objectifs du réseau de femmes enseignantes et étudiantes au Mali sont
      :
    </h2>
  </div>

  <div class="container">
    <ul class="text">
      <li>
        <strong> Renforcer les compétences professionnelles :</strong> Organiser
        des ateliers, des séminaires et des sessions de formation pour renforcer
        les compétences professionnelles des femmes dans le domaine de
        l'éducation.
      </li>
      <li>
        <strong> Encourager le leadership féminin : </strong>Promouvoir la
        participation active des femmes dans des rôles de leadership au sein des
        institutions éducatives, encourageant ainsi la diversité et l'égalité
        des chances.
      </li>
      <li>
        <strong> Sensibilisation et plaidoyer : </strong>Sensibiliser à
        l'importance de l'éducation des femmes, et plaider en faveur de
        politiques et de pratiques éducatives qui favorisent l'égalité des
        sexes.
      </li>
      <li>
        <strong> Promouvoir l'éducation des femmes : </strong>Encourager l'accès
        à l'éducation pour les femmes, soutenir leur progression académique et
        professionnelle, et lutter contre les obstacles qui peuvent se
        présenter.
      </li>
      <li>
        <strong>Participer à des projets communautaires : </strong>Impliquer le
        réseau dans des projets éducatifs et sociaux bénéfiques pour les
        communautés locales, en mettant l'accent sur l'autonomisation des
        femmes.
      </li>
    </ul>

    <img src="../../../../assets/svgs/objective.svg" alt="" class="image" />
  </div>
  <div class="container">
    <div class="text">
      <ul>
        <li>
          <strong> Faciliter le réseautage : </strong>Créer des opportunités de
          réseautage entre les femmes enseignantes et étudiantes afin de
          favoriser l'échange d'idées, de ressources et de soutien mutuel.
        </li>
      </ul>
    </div>
  </div>
</div>
