.objectif {
  height: 100vh;
  padding: 30px;
  background-color: rgb(241, 245, 248);
  border-radius: 18px;
 
}
@media screen and (max-width: 600px) {
  .objectif {
    padding: 10px;
    font-size: xx-small;
  }
}

.container {
  display: flex;
  align-items: flex-start;
  margin-top: 12px;
}

.image {
  width: 40%;
  margin-left: 60px;
}

.text {
  flex: 1;
}

li{
  padding: 6px;
}