<div class="ps-4 pe-4">
  <div class="" mat-dialog-title>
    <h4>Modifier informations utilisateur</h4>
    <hr />
  </div>

  <mat-dialog-content class="mat-typography">
    <form class="example-form" onsubmit="modifier()">
      <mat-form-field class="example-full-width">
        <mat-label>Nom (disabled)</mat-label>
        <input
          matInput
          disabled
          value="{{ data.user ? data.user.lastName : 'N/A' }}"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Prénom (disabled)</mat-label>
        <input
          matInput
          disabled
          value="{{ data.user ? data.user.firstName : 'N/A' }}"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Téléphone (disabled)</mat-label>
        <input
          matInput
          disabled
          value="{{ data.user ? data.user.phone : 'N/A' }}"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email (disabled)</mat-label>
        <input
          matInput
          disabled
          value="{{ data.user ? data.user.mail : 'N/A' }}"
        />
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button id="btn-danger" mat-button mat-dialog-close>Retour</button>
    <button
      id="btn-primary"
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
    >
      Modifier
    </button>
  </mat-dialog-actions>
</div>
