<div class="ps-4 pe-4">
  <div class="" mat-dialog-title>
    <h4>Modifier informations utilisateur</h4>
    <app-progress-bar
      *ngIf="loadingService.isLoading$ | async as isLoading"
    ></app-progress-bar>
    <hr />
  </div>

  <mat-dialog-content class="mat-typography">
    <form class="example-form" [formGroup]="updateForm" onsubmit="updateUser()">
      <mat-form-field class="example-full-width">
        <mat-label>Nom</mat-label>
        <input formControlName="lastName" matInput />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Prénom </mat-label>
        <input formControlName="firstName" matInput />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Téléphone</mat-label>
        <input formControlName="phone" matInput />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email (disactivé)</mat-label>
        <input formControlName="mail" matInput />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Titre</mat-label>
        <mat-select formControlName="titre">
          <mat-option selected *ngIf="titres.length === 0" [value]="0">
            <span> N/A</span>
          </mat-option>
          <mat-option *ngFor="let titre of titres" [value]="titre.id">{{
            titre.titre
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button id="btn-danger" mat-button mat-dialog-close>Retour</button>
    <button
      id="btn-primary"
      (click)="updateUser()"
      mat-button
      [disabled]="this.updateForm.invalid || !this.updateForm.dirty"
    >
      Modifier
    </button>
  </mat-dialog-actions>
</div>
