<div class="card bg-glass ps-4 pe-4">
  <h2 mat-dialog-title>
    <span> Modifier mot de passe</span>
    <!-- <app-progress-bar
  *ngIf="loadingService.isLoading$ | async as isLoading"
></app-progress-bar> -->
    <hr />
  </h2>

  <mat-dialog-content class="mat-typography">
    <form
      class="example-form"
      style="margin-top: 6px"
      [formGroup]="editPasswordForm"
      onsubmit="updatePassword()"
    >
      <div class="form-outline mb-3">
        <div class="error_message">
          <div
            *ngIf="
              this.formControls['oldPassword'].invalid &&
              (this.formControls['oldPassword'].dirty ||
                this.formControls['oldPassword'].touched)
            "
          >
            <span
              class="error_message_content"
              *ngIf="formControls['oldPassword'].touched"
              >Veuillez saisir votre ancien mot de passe.</span
            >
          </div>
        </div>
        <input
          [ngClass]="{
            isInvalid:
              formControls['oldPassword'].touched &&
              formControls['oldPassword'].invalid
          }"
          type="password"
          class="form-control"
          formControlName="oldPassword"
        />
        <label class="form-label" for="form_password"
          >Ancien mot de passe
        </label>
      </div>
      <div
        formGroupName="pwrdForm"
        (ngSubmit)="updatePassword($event)"
        novalidate
      >
        <div class="form-outline mb-3">
          <div class="error_message">
            <div
              *ngIf="
                this.formControls['pwrdForm'].controls['password'].invalid &&
                (this.formControls['pwrdForm'].controls['password'].dirty ||
                  this.formControls['pwrdForm'].controls['password'].touched)
              "
            >
              <span
                class="error_message_content"
                *ngIf="formControls['pwrdForm'].controls['password'].touched"
                >Veuillez saisir votre mot de passe!</span
              >
            </div>
          </div>
          <input
            [ngClass]="{
              isInvalid:
                formControls['pwrdForm'].controls['password'].touched &&
                formControls['pwrdForm'].controls['password'].invalid
            }"
            type="password"
            class="form-control"
            formControlName="password"
            id="form_password"
          />
          <label class="form-label" for="form_password"
            >Nouveau mot de passe</label
          >
        </div>
        <div class="form-outline mb-3">
          <div class="error_message">
            <div
              *ngIf="
                formControls['pwrdForm'].controls['password'].valid &&
                !formControls['pwrdForm'].controls['confirmPassword'].errors?.['required']
                &&
                (this.formControls['pwrdForm'].controls[
                  'confirmPassword'
                ].dirty ||
                  this.formControls['pwrdForm'].controls[
                    'confirmPassword'
                  ].touched)
              "
            >
              <span
                class="error_message_content"
                *ngIf="formControls['pwrdForm'].errors?.['passwordmatcherror']
            "
                >Les mots de passe doivent être les mêmes.
              </span>
            </div>

            <div
              *ngIf="
                formControls['pwrdForm'].controls['password'].valid &&
                formControls['pwrdForm'].controls['confirmPassword'].invalid &&
                (this.formControls['pwrdForm'].controls['confirmPassword']
                  .dirty ||
                  this.formControls['pwrdForm'].controls['confirmPassword']
                    .touched)
              "
            >
              <span
                class="error_message_content"
                *ngIf="
                  formControls['pwrdForm'].controls['confirmPassword'].errors?.['required']
                "
                >Veuillez saisir votre mot de passe.</span
              >
            </div>
          </div>
          <input
            [ngClass]="{
              isInvalid:
                this.formControls['pwrdForm'].controls['confirmPassword']
                  .touched &&
                this.formControls['pwrdForm'].controls['confirmPassword']
                  .invalid &&
                this.formControls['pwrdForm'].controls['password'].valid
            }"
            type="password"
            class="form-control"
            formControlName="confirmPassword"
          />
          <label class="form-label" for="form_password"
            >Confirmer nouveau mot de passe</label
          >
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button id="btn-danger" mat-button mat-dialog-close>Retour</button>
    <button
      id="btn-primary"
      [disabled]="editPasswordForm.invalid"
      mat-button
      (click)="updatePassword($event)"
    >
      Modifier
    </button>
  </mat-dialog-actions>
</div>
