<div class="" style="padding: 0px 60px">
  <div class="row">
    <div class="col-9">
      <h1
        style="
          font-weight: bold;
          font-size: 32px;
          padding: 16px 0px;
          color: #013b45;
        "
      >
        <span
          style="
            text-underline-position: auto;
            text-underline-offset: 0.5em;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-color: #013b45;
          "
          >Présen</span
        >tation
      </h1>
      Le Réseau des Femmes Enseignantes et Étudiantes du Mali (REFEM) est une
      organisation dynamique qui vise à soutenir, autonomiser et promouvoir les
      femmes dans le domaine de l'éducation au Mali. <br />
      Ce réseau rassemble des enseignantes expérimentées ainsi que des
      étudiantes désireuses de poursuivre une carrière dans l'enseignement.
      <br />

      <h3>Les objectifs du REFEM sont multiples :</h3>
      <ul>
        <li>
          <strong> Soutien professionnel </strong>: Offrir un espace pour le
          développement professionnel des enseignantes par le biais de
          formations, de mentorat et d'échanges d'expériences.
        </li>
        <li>
          <strong> Éducation et sensibilisation</strong> : Sensibiliser à
          l'importance de l'éducation des filles, encourager la scolarisation
          des jeunes filles et promouvoir l'égalité des sexes dans le système
          éducatif.
        </li>
        <li>
          <strong> Renforcement de compétences </strong>: Renforcer les
          compétences pédagogiques, la leadership et la confiance des femmes
          dans le domaine de l'éducation.
        </li>
        <li>
          <strong> Plaidoyer</strong> : Faire entendre la voix des femmes dans
          le domaine éducatif, notamment en plaidant pour des politiques et des
          pratiques favorisant l'égalité des sexes et la parité dans le secteur
          de l'éducation.
        </li>
      </ul>

      Le REFEM organise régulièrement des ateliers, des conférences, des
      séminaires et des campagnes de sensibilisation pour atteindre ses
      objectifs.
      <br />
      En encourageant l'autonomisation des femmes dans l'éducation, le réseau
      contribue à créer un environnement plus équitable et inclusif dans le
      système éducatif malien. Leur action est essentielle pour favoriser une
      représentation plus équilibrée des femmes dans l'enseignement et pour
      encourager les générations futures à poursuivre des carrières éducatives
      enrichissantes.
    </div>
    <div class="col-3" style="padding: 32px 6px">
      <h2>Articles récents</h2>
      <div class="card" style="height: 35%"></div>
      <div
        class="card"
        style="height: 35%; background-color: gray; margin: 16px 0px"
      ></div>
      <div
        class="card"
        style="height: 35%; background-color: blueviolet; margin: 16px 0px"
      ></div>
    </div>
  </div>
</div>
