<div class="page-hearder">
  <div class="section-title">Ma carte</div>
</div>
<div *ngIf="isgeneradedCard" class="container">
  <div class="mb-4 mt-4">
    <button
      id="btn-print"
      class="btn btn-primary btn-block"
      printSectionId="print-section"
      [useExistingCss]="false"
      [previewOnly]="false"
      styleSheetFile="assets/css/printcard.css"
      ngxPrint
    >
      Imprimer
    </button>
  </div>
 
  <div id="print-section">
    <div class="card">
      <div class="frontcard">
        <app-front-card
          [cardMatricule]="cardMatricule"
          [cardDateDebut]="cardDateDebut"
          [cardDateFin]="cardDateFin"
          [cardTitre]="cardTitre"
          [cardUserFistName]="cardUserFistName"
          [cardUserLastName]="cardUserLastName"
          [cardSpecialite]="cardSpecialite"
          [cardImage]="cardImage"
        >
        </app-front-card>
      </div>
      <div class="backcard">
        <app-back-card cardRole="Carte Membre 1"></app-back-card>
      </div>
    </div>
  </div>
  <!-- <button id="btn-print" class="btn btn-primary btn-block mb-4">
    Imprimer
  </button> -->
</div>

<div *ngIf="!isgeneradedCard" class="container">
  <div class="d-flex justify-content-center p-2">
    <h3>
      Vous n'avez pas encore de carte membre ? Voir votre carte membre.
    </h3>
  </div>
  <div class="d-flex justify-content-center p-2">
    <button class="btn" id="btn-primary" (click)="generateCard()">
      Générer ma carte
    </button>
  </div>
</div>
